:root {
    --gradient: linear-gradient(
        135deg,
        #070F2B,
        #9290C3
    );
}

html {
    height: 100%;
    background: var(--gradient);
    background-position: center;
    background-size: 200%;
    background-repeat: no-repeat;
    animation: bg_animation 40s infinite alternate;
}

@keyframes bg_animation {
    0%{background-position: left}
    80%{background-position: center;}
}

body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
    color: #fff;
}

header {
    background-color: #000000;
    color: #fff;
    padding: 0px;
}

.header-content {
    position: relative; /* Ensure relative positioning */
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
}

.header-content h1,
.header-content h2 {
    margin: 0; /* Remove default margin */
}

.header-content h2 {
    position: absolute; /* Position the h2 element absolutely */
    top: 50%; /* Move the element to the vertical center */
    left: 50%; /* Move the element to the horizontal center */
    transform: translate(-50%, -50%); /* Center the element properly */
}

nav {
    color: #fff;
    padding: 20px;
    position: absolute; /* Position the navigation bar absolutely */
    top: 0; /* Align the navigation bar to the top of the header */
    right: 20px; /* Align the navigation bar to the right of the header */
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 20px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-weight: bold;
}

footer {
    background-color: #000000;
    color: #fff;
    text-align: center;
    padding: 0px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

header, footer {
    background-color: rgba(0, 0, 0, 0.7); 
    color: #fff; 
} 

/* For smaller screen sizes */
@media screen and (max-width: 600px) {
    .header-content {
        flex-direction: column; /* Stack header content vertically */
    }

    nav {
        margin-top: 40px; /* Add space between headings and nav */
    }

    nav a {
        margin-right: 20px; /* Add space between navigation links */
    }
}